@import url(./fonts.css);

@import url('./partials/_variables.css');

@import url('./partials/global.css');


/* Start nav tab */

.header_area .navbar .main-menu .navbar_brand{
    padding: 0 1rem 0 200rem;
    max-width:100%;
    height:auto;
}

.header_area .main-menu
{
    padding: 1rem 20rem;
}
.header_area .main-menu .nav-item .nav-link{

    font-family: normal 500 15px/2px var(--Itim);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.9rem;
    color: var(--title-color);

}
.header_area .main-menu .navbar-nav  a.active{

    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}
.header_area .main-menu .navbar-nav  a:hover{

    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
/* End nav tab */


/* Start banner tab */

.site-main .site-banner
{
    background: url(../img/bacground.png)no-repeat;
    background-position: 0% 10%;
    margin-bottom: 30rem;
    margin-top: 5rem;
    
}
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 1rem 0;
    width: 90rem;
    
}
.site-main .site-banner .img-fluid
{
    opacity: 0%;
}
/* End banner tab */

/* Start about area */

.site-main .about-area
{
    padding: 8rem 1rem;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--Itim);
    letter-spacing: 21px;
}
.site-main .about-area .about-title .para
{
    padding: 0rem 2rem;
}

/* End about area */




/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(240, 248, 250, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* Servicd area ends */

/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--Itim);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--Itim);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


/* About Me */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--Itim);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 2rem 1rem;
    
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--Itim);
    color: rgb(231, 225, 225);
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: rgb(214, 202, 202);
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--Itim);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: rgb(202, 178, 178);
    
    margin: 0rem;
    
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    padding: .7rem 2rem;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0rem;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--Itim);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 